.menuButtonHorizon, .disabledMenuButtonHorizon{
    display: inline-block;
    text-align: center;
    border: none;
    padding: 0;
    outline: none;
    font-size: 20px
}
.menuButtonHorizon:focus,
 .menuButtonHorizon:hover,
 .verticalButton:focus,
 .verticalButton:hover{
    color: skyblue;
    background: transparent;
    border-bottom: 2px solid skyblue;
}
.menuItemsContainHorizon{
    position: absolute;
    top: 0;
    left: 0;
}
.menuLineHorizon,.verticalMenuLine{
    position: relative;
}
.verticalButton, .disabledVerticalButton{
    display: block;
    border: none;
    padding: 0;
    text-align: left;
    outline: none;
    font-size: 20px;
}
.verticalMenuItemsClick{
    display: block;
}
.verticalMenuItemsHover{
    position: absolute;
    left: 100%;
    width: 300px;
}